---
import { categories } from 'libs/prepa';
import MainLayout from 'layouts/MainLayout.astro';
import { MoveUp, Undo2 } from 'lucide-astro';
import ProductCard from 'components/global/Cards.astro';
import { Fragment } from 'astro/jsx-runtime';
---

<MainLayout title="Trouve ta pièce | Outil de préparation" class="overflow-x-hidden">
	<main class="pt-44">
		<div id="top" class="bg-white rounded-t-3xl w-11/12 flex justify-center mx-auto items-center flex-col mt-20 lg:mt-0">
			<div class="flex items-center gap-4 p-8 flex-col lg:flex-row">
				<img src="/images/prepa.jpg" class="w-full lg:w-[50rem] h-96 rounded-2xl">
				<p>
					Chez <b>TTP</b>, la préparation est une question de performance. Nous fournissons des outils dédiés, adaptés et précis, pour optimiser chaque réglage et préparer ta machine dans les meilleures conditions.
				</p>
			</div>
			<div class="gradient-config w-full h-2 rounded-b-3xl"></div>
		</div>
			{categories.map(category => (
				<div class="flex justify-center my-8 gap-4 flex-wrap mx-auto w-4/5 py-7">
					{category.products.map(product => (
						<ProductCard
							title={product.title}
							logo={`/images/${product.logo}`}
							price={product.price}
							imageSrc={`/images/${product.image}`}
							alt={product.alt}
							lien={`${product.configKey}`}
							external={true}
						/>
					))}
				</div>
			))}
		<button id="boutonRetour" onclick="history.back()" class="border z-30 left-14 border-amber-600 text-amber-600 py-2 px-4 rounded-full hidden items-center bottom-8 gap-3 w-fit fixed hover:text-white hover:bg-amber-600 duration-700">
			Retour <Undo2 />
		</button>
		<a id="fleche" class="border-amber-600 text-amber-600 border z-30 fixed right-14 p-4 bottom-8 rounded-full w-16 h-16 m-0 hidden items-center hover:text-white hover:bg-amber-600 duration-700" href="#top" rel="noopener noreferrer">
			<MoveUp class="h-10 w-10" />
		</a>
	</main>
</MainLayout>
<script src="/src/pages/js/category.js.ts"></script>
