---
import MainLayout from 'layouts/MainLayout.astro';
import TemplateConfig from 'components/global/TemplateConfig.astro';
import { getCurrentConfig } from 'libs/configurations';
import { getCurrentConfigCompet } from 'libs/configCompetition';
import { Undo2 } from 'lucide-astro';

const configType = Astro.url.searchParams.get("config");
const configTypeCompet = Astro.url.searchParams.get("configCompetition");
const allday =  Astro.url.searchParams.get("config");
let title
let backUrl = "/"

if (allday) {
    title = "ALLDAYS"
	backUrl = "/categorie/allDays"
} else {
    title = "Compétition"
	backUrl = "/categorie/competition"
}

let currentConfig;

if (configType !== null) {
    currentConfig = getCurrentConfig(configType)
} else if (configTypeCompet !== null) {
    currentConfig = getCurrentConfigCompet(configTypeCompet)
} else {
    currentConfig = {}
}
---

<MainLayout title=`Trouve ta pièce | ${title}` class="overflow-x-hidden">
    <main class="flex justify-center items-center">
        <TemplateConfig
            title={currentConfig.title}
            logo={currentConfig.logo}
            alt={currentConfig.alt}
            enderTitle={currentConfig.enderTitle}
            typeMotor={currentConfig.typeMotor}
            typeMotor1={currentConfig.typeMotor1}
            description={currentConfig.description}
            price={currentConfig.price}
            images={currentConfig.images}
            pieces={currentConfig.pieces}
        />
    </main>
	<div class="w-9/12 mx-auto">
		<a href={backUrl} class="border border-amber-600 text-amber-600 py-2 px-4 rounded-full flex items-center gap-3 w-fit -top-4 lg:-top-36 relative hover:text-white hover:bg-amber-600 duration-700">
			Retour <Undo2 />
		</a>
	</div>
</MainLayout>
