---
import MainLayout from 'layouts/MainLayout.astro';
import TemplateConfig from 'components/global/TemplateConfig.astro';
import { config, all50Mk, all70top, general500, all70airsal } from 'libs/donner';

const configType = Astro.url.searchParams.get("config") || "500";
const configurations = {
  "50mk": {
    title: "50 Metrakit Alu",
    enderTitle: "Configuration AllDays",
    description: "Configuration très solide. Peu performant mais permet de faire de nombreux kilomètres sans avoir de problème, plutôt sympa pour commencer à s'amuser.",
    price: config[0].allMk,
    images: [
      "/src/assets/images/50mk.png",
      "/src/assets/images/carbupolini.png",
      "/src/assets/images/potmost50.png",
    ],
    pieces: [
      "Kit 50cc METRAKIT ALU : " + all50Mk[0].cylindre,
      "Carburateur 17,5MM POLINI : " + all50Mk[0].carbu,
      "Pot MOST 50-70 : " + all50Mk[0].pot,
    ],
  },
  "70top": {
    title: "70 Top Performance noir",
    enderTitle: "Configuration AllDays",
    description: "Configuration très commune et très solide. Peu performant mais permet de faire de nombreux kilomètres sans avoir de problème, plutôt sympa pour commencer à s'amuser.",
    price: config[0].allTop,
    images: [
      "/src/assets/images/topnoir.png",
      "/src/assets/images/vilojasilv.png",
      "/src/assets/images/carbu.png",
      "/src/assets/images/potmost50.png",
    ],
    pieces: [
      "Kit TOP Performance noir 70cc : " + all70top[0].cylindre,
      "Vilebrequin JASIL EVO : " + all70top[0].vilo,
      "Roulement et spy WATTS : " + general500[0].roulement,
      "Embrayage MALOSSI : " + general500[0].embrayage,
      "Pipe d'admission MOST : " + general500[0].pipe,
      "Carburateur 21MM SUNWORLD : " + general500[0].carbu,
      "Pot MOST 50-70 : " + general500[0].pot,
    ],
  },
  "70airsal": {
    title: "70 Airsal fonte",
    enderTitle: "Configuration AllDays",
    description: "Configuration très commune et très solide. Peu performant mais permet de faire de nombreux kilomètre sans avoir de problème, plutot sympa pour commencer à s'amuser.",
    price: config[0].allAirsal,
    images: [
      "/src/assets/images/70airsalfonte.png",
      "/src/assets/images/vilowatts.png",
      "/src/assets/images/carbu.png",
      "/src/assets/images/potmost50.png",
    ],
    pieces: [
      "Kit 70cc AIRSAL fonte : " + all70airsal[0].cylindre,
      "Vilebrequin WATTS : " + all70airsal[0].vilo,
      "Roulement et spy WATTS : " + general500[0].roulement,
      "Embrayage MALOSSI : " + general500[0].embrayage,
      "Pipe d'admission WATTS type cr : " + general500[0].pipe,
      "Carburateur 21MM SUNWORLD : " + general500[0].carbu,
      "Pot MOST 50-70 : " + general500[0].pot,
    ],
  },
};

const currentConfig = configurations[configType];
---

<MainLayout title="Trouve ta pièce ALLDAYS" class="overflow-x-hidden">
    <main class="flex justify-center items-center">
        <TemplateConfig 
            title={currentConfig.title}
            enderTitle={currentConfig.enderTitle} 
            description={currentConfig.description}
            price={currentConfig.price}
            images={currentConfig.images}
            pieces={currentConfig.pieces}
        />
    </main>
</MainLayout>
