---
import MainLayout from 'layouts/MainLayout.astro';
import TemplateConfig from 'components/global/TemplateConfig.astro';
import { getCurrentConfig } from 'libs/configurations';

// Récupération de la configuration courante en fonction du paramètre 'config'
const configType = Astro.url.searchParams.get("config") || "500";
const currentConfig = getCurrentConfig(configType);

---

<MainLayout title="Trouve ta pièce ALLDAYS" class="overflow-x-hidden">
    <main class="flex justify-center items-center">
        <TemplateConfig
            title={currentConfig.title}
            enderTitle={currentConfig.enderTitle}
            description={currentConfig.description}
            price={currentConfig.price}
            images={currentConfig.images}
            pieces={currentConfig.pieces}
        />
    </main>
</MainLayout>
