---
import MainLayout from 'layouts/MainLayout.astro';
import TemplateConfig from 'components/global/TemplateConfig.astro';
import { getCurrentConfig } from 'libs/configurations';
import { getCurrentConfigCompet } from 'libs/configCompetition';

const configType = Astro.url.searchParams.get("config");
const configTypeCompet = Astro.url.searchParams.get("configCompetition");
const allday =  Astro.url.searchParams.get("config");
let title

if (allday) {
    title = "ALLDAYS"
} else {
    title = "Compétition"
}

let currentConfig;

if (configType !== null) {
    currentConfig = getCurrentConfig(configType);
} else if (configTypeCompet !== null) {
    currentConfig = getCurrentConfigCompet(configTypeCompet);
} else {
    currentConfig = {}; 
}
---

<MainLayout title=`Trouve ta pièce | ${title}` class="overflow-x-hidden">
    <main class="flex justify-center items-center">
        <TemplateConfig
            title={currentConfig.title}
            logo={currentConfig.logo}
            alt={currentConfig.alt}
            enderTitle={currentConfig.enderTitle}
            typeMotor={currentConfig.typeMotor}
            typeMotor1={currentConfig.typeMotor1}
            description={currentConfig.description}
            price={currentConfig.price}
            images={currentConfig.images}
            pieces={currentConfig.pieces}
        />
    </main>
</MainLayout>
