---
import MainLayout from 'layouts/MainLayout.astro';
import { MoveUp } from 'lucide-astro';
import ProductCard from 'components/global/Cards.astro';
import { categories } from 'libs/configurations';
---

<MainLayout title="Trouve ta pièce ALLDAYS" class="overflow-x-hidden">
  <main class="pt-44">
    <div id="top" class="bg-white rounded-t-3xl w-11/12 flex justify-center mx-auto items-center flex-col mt-20 lg:mt-0">
      <div class="flex items-center gap-4 p-8 flex-col lg:flex-row">
        <img src="/images/bg.svg" class="w-full lg:w-2/5">
        <p><strong>Optimisez votre conduite quotidienne avec nos configurations moteur alldays</strong><br>
          Découvrez nos configurations moteur conçues pour améliorer les performances de votre véhicule, sans sacrifier la fiabilité. Nous offrons une gamme de prix pour répondre à divers budgets. Transformez votre conduite quotidienne dès aujourd'hui.
        </p>
      </div>
      <div class="gradient-config w-full h-2 rounded-b-3xl"></div>
    </div>

    <div class="bg-white rounded-full relative z-30 items-center h-fit justify-center shadow-lg flex mt-4 py-2 lg:py-0 w-56 lg:w-fit mx-auto flex-col lg:flex-row">
		{categories.map(category => (
		  <a class="pl-4 mx-2 pr-0 text-orange-600 gap-3 flex text-lg items-center" href={`#${category.id}`}>
			<category.icon /> {category.label}
		  </a>
		))}
	</div>

    {categories.map(category => (
		<div id={category.id} class="pt-14">
		   <div class="flex justify-center my-8 gap-4 flex-wrap">
			 {category.products.map(product => (
				<ProductCard
				   title={product.title}
				   logo={`/images/${product.logo}`}
				   description={product.description}
				   typeMotor={product.typeMotor}
				   typeMotor1={product.typeMotor1}
				   price={product.price}
				   imageSrc={`/images/${product.image}`}
				   lien={`/product/config?config=${product.configKey}#item-1`}
				/>
			 ))}
		   </div>
		</div>
	 ))}

    <a class="bg-amber-400 z-30 fixed right-14 h-12 p-4 -bottom-1 w-16 m-0 flex items-center" href="#top">
      <MoveUp class="h-10 w-10" />
    </a>
  </main>
</MainLayout>
