---
import MainLayout from 'layouts/MainLayout.astro';
import { generateProductData } from 'libs/configurations';
import { config } from 'libs/donner';
import { ChevronDown, Quote } from 'lucide-astro';
import moi from '/public/images/moi.png';
import moiMob from '/public/images/moi.jpg';
import ProductCard from 'components/global/Cards.astro';
import Picture from 'components/global/Picture.astro';
---

<MainLayout title="Trouve ta pièce" class="overflow-x-hidden">
  <main class="w-screen">
    <div class="w-screen absolute imagetete h-screen"></div>
    <div class="z-10 relative lg:w-3/6 text flex flex-col justify-end pl-8 text-white">
      <p class="font-semibold text-2xl w-2/3 lg:w-full lg:text-4xl">
        Bienvenue sur le site dédié aux passionnés de moto !
      </p>
      <p class="lg:text-lg pl-2 w-full pr-4 lg:pr-0 text-xs">
        Découvrez une vaste collection de pièces, allant des classiques aux plus rares, soigneusement répertoriées pour répondre à tous vos besoins.<br/><br/>
        Notre plateforme vous propose une gamme variée de tarifs, garantissant des options pour chaque budget. <br/><br/>
        En plus de vous offrir un accès facile à ces trésors mécaniques, je partage également mes conseils d'expert pour vous guider dans vos choix.<br/><br/>
        Plongez dans l'univers de la moto et parcourez notre sélection pour transformer votre expérience de conduite.
      </p>
    </div>
    <div class="gradient w-full h-2"></div>
    <div class="flex justify-center gap-1 lg:gap-3 mt-16 lg:w-4/5 lg:mx-auto">
      <div class="slider flex items-center overflow-hidden">
        <div id="slide" class="slide-track">
          {generateProductData(config).map(product => (
              <div class="mx-4">
                  <ProductCard
                    title={product.title}
                    logo={`/images/${product.logo}`}
                    description={product.description}
                    typeMotor={product.typeMotor}
					typeMotor1={product.typeMotor1}
                    price={product.price}
                    imageSrc={product.imageSrc}
                    lien={product.link}
                  />
              </div>
          ))}
          {generateProductData(config).map(product => (
            <div class="hidden lg:block mx-4">
                <ProductCard
                title={product.title}
                logo={`/images/${product.logo}`}
                description={product.description}
                typeMotor1={product.typeMotor1}
                price={product.price}
                imageSrc={product.imageSrc}
                lien={product.link}
                />
            </div>
          ))}
		  <div id="move" class="flex justify-center opacity-75 items-end absolute ml-36 h-2/3 z-50 md:hidden">
			<img src="/images/slide.png" class="w-10 h-10" alt="">
		</div>
        </div>
      </div>
    </div>
    <div class="w-full flex justify-center py-8 mt-16 lg:mt-0">
      <div class="w-11/12 lg:w-4/5 rounded-2xl bg flex gap-2 items-center pb-4 justify-center lg:py-0 lg:pr-20 flex-col lg:flex-row">
        <Picture class="moi hidden lg:block w-2/5" src={moi} loading="lazy"></Picture>
        <Picture class="moiMob block lg:hidden" src={moiMob} loading="lazy"></Picture>
        <p class="w-3/5 text-white gap-3 mx-4 hidden md:flex text-lg italic">
          <Quote class="w-96"/>Moi c’est Lucas, motard de 22 ans, passionné de moto depuis tout petit. Cette passion s'est rapidement étendue à la mécanique. J'ai commencé par construire mes propres moteurs de 50cc, participant à des rassemblements informels qui se sont rapidement transformés en compétitions. J'ai eu l'opportunité de courir pour l'équipe WRP Racing dans plusieurs compétitions, notamment à Salbris et Bordeaux, où j'ai toujours obtenu d'excellents résultats. Au fil des ans, j'ai construit et préparé un grand nombre de moteurs, que ce soit pour moi-même ou pour des clients. J'ai réalisé de nombreuses préparations de configurations, certaines plus extravagantes que d'autres. Grâce à cela, j'ai acquis une solide connaissance et expérience dans le domaine.
          C'est cette expertise que j'ai décidé de partager en créant ce site. Mon objectif est d'aider les novices à comprendre plus facilement le monde de la moto, mais aussi de référencer des pièces parfois rares.
          <p class="flex md:hidden w-11/12 text-white"><Quote class="w-20"/>Moi c’est Lucas, motard de 22 ans, passionné de moto depuis tout petit. Cette passion s'est rapidement étendue à la mécanique.</p>
          <details class="flex items-center md:hidden">
            <summary class="justify-center text-white flex items-center">
                Voir plus
                <ChevronDown class="cheSum w-8" />
            </summary>
            <div class="contents">
               <p class="text-white gap-3 mx-4 w-11/12">J'ai commencé par construire mes propres moteurs de 50cc, participant à des rassemblements informels qui se sont rapidement transformés en compétitions. J'ai eu l'opportunité de courir pour l'équipe WRP Racing dans plusieurs compétitions, notamment à Salbris et Bordeaux, où j'ai toujours obtenu d'excellents résultats. Au fil des ans, j'ai construit et préparé un grand nombre de moteurs, que ce soit pour moi-même ou pour des clients. J'ai réalisé de nombreuses préparations de configurations, certaines plus extravagantes que d'autres. Grâce à cela, j'ai acquis une solide connaissance et expérience dans le domaine.
                C'est cette expertise que j'ai décidé de partager en créant ce site. Mon objectif est d'aider les novices à comprendre plus facilement le monde de la moto, mais aussi de référencer des pièces parfois rares.</p>
            </div>
        </details>
        </p>
      </div>
    </div>
  </main>
</MainLayout>
<script>
	document.addEventListener('DOMContentLoaded', function() {
		const slider = document.getElementById('slide');
		const moveIndicator = document.getElementById('move');

		let isSliding = false;

		slider.addEventListener('touchstart', handleUserInteraction);
		slider.addEventListener('mousedown', handleUserInteraction);
		slider.addEventListener('scroll', handleUserInteraction);

		function handleUserInteraction() {
			if (!isSliding) {
			isSliding = true;

			setTimeout(function() {
				moveIndicator.classList.add('hidden');
			}, 1000);
			}
		}
	});
</script>
