---
import MainLayout from 'layouts/MainLayout.astro'
import {Quote} from 'lucide-astro'
import moi from 'assets/images/moi.jpg'
import ProductCard from 'components/global/Cards.astro';
import Picture from 'components/global/Picture.astro';
import {vilo} from 'libs/donner'

const data = vilo;
/*
{data.map(vilo => (
				<div>
					<p>{vilo.name}</p>s
					<p>{vilo.number}</p>
					<p>{vilo.boat}</p>
					<p>{vilo.other}</p>
				</div>
			))}*/
---

<MainLayout title="Trouve ta pièce" class="overflow-x-hidden">
	<main class="w-screen">
		<div class="w-screen absolute imagetete h-screen"></div>
		<div class="z-10 relative lg:w-3/6 text flex flex-col justify-end pl-8 text-white">
			<p class="font-semibold text-2xl w-2/3 lg:w-full lg:text-4xl">
				Bienvenue sur le site dédié aux passionnés de moto !
			</p>
			<p class="lg:text-lg pl-2 w-full pr-4 lg:w-2/3 lg:pr-0">
				Découvrez une vaste collection de pièces, allant des classiques aux plus rares, soigneusement répertoriées pour répondre à tous vos besoins.<br/><br/>
				Notre plateforme vous propose une gamme variée de tarifs, garantissant des options pour chaque budget. <br/><br/>
				En plus de vous offrir un accès facile à ces trésors mécaniques, je partage également mes conseils d'expert pour vous guider dans vos choix.<br/><br/>
				Plongez dans l'univers de la moto et parcourez notre sélection pour transformer votre expérience de conduite.
			</p>
		</div>
		<div class="gradient w-full h-2"></div>
		<div>
		<div class="flex justify-center gap-3 mt-16 w-4/5 mx-auto">
			<div class="slider flex items-center">
				<div class="slide-track gap-4">
					{data.map(vilo => (
						<ProductCard
							title="Kit cylindre 2Fast"
							description="Grosse config"
							price={vilo.jasil}
							imageSrc="/src/assets/images/cylindre2fast.png"
							lien="/"
						/>
					))}
					<ProductCard
						title="Kit cylindre 2Fast"
						description="Grosse config"
						price="200"
						imageSrc="/src/assets/images/cylindre2fast.png"
						lien="/"
					/>
					<ProductCard
						title="Kit cylindre 2Fast"
						description="Grosse config"
						price="200"
						imageSrc="/src/assets/images/cylindre2fast.png"
						lien="/"
					/>
					<ProductCard
						title="Kit cylindre 2Fast"
						description="Grosse config"
						price="200"
						price="200"
						imageSrc="/src/assets/images/cylindre2fast.png"
						lien="/"
					/>
					<ProductCard
						title="Kit cylindre 2Fast"
						description="Grosse config"
						price="200"
						imageSrc="/src/assets/images/cylindre2fast.png"
						lien="/"
					/>
					<ProductCard
						title="Kit cylindre 2Fast"
						description="Grosse config"
						price="200"
						imageSrc="/src/assets/images/cylindre2fast.png"
						lien="/"
					/>
					<ProductCard
						title="Kit cylindre 2Fast"
						description="Grosse config"
						price="200"
						imageSrc="/src/assets/images/cylindre2fast.png"
						lien="/"
					/>
					<ProductCard
						title="Kit cylindre 2Fast"
						description="Grosse config"
						price="200"
						imageSrc="/src/assets/images/cylindre2fast.png"
						lien="/"
					/>
					<ProductCard
						title="Kit cylindre 2Fast"
						description="Grosse config"
						price="200"
						imageSrc="/src/assets/images/cylindre2fast.png"
						lien="/"
					/>
					{data.map(vilo => (
						<ProductCard
							title="Kit cylindre 2Fast"
							description="Grosse config"
							price={vilo.jasil}
							imageSrc="/src/assets/images/cylindre2fast.png"
							lien="/"
						/>
					))}
					<ProductCard
						title="Kit cylindre 2Fast"
						description="Grosse config"
						price="200"
						imageSrc="/src/assets/images/cylindre2fast.png"
						lien="/"
					/>
					<ProductCard
						title="Kit cylindre 2Fast"
						description="Grosse config"
						price="200"
						imageSrc="/src/assets/images/cylindre2fast.png"
						lien="/"
					/>
					<ProductCard
						title="Kit cylindre 2Fast"
						description="Grosse config"
						price="200"
						price="200"
						imageSrc="/src/assets/images/cylindre2fast.png"
						lien="/"
					/>
					<ProductCard
						title="Kit cylindre 2Fast"
						description="Grosse config"
						price="200"
						imageSrc="/src/assets/images/cylindre2fast.png"
						lien="/"
					/>
					<ProductCard
						title="Kit cylindre 2Fast"
						description="Grosse config"
						price="200"
						imageSrc="/src/assets/images/cylindre2fast.png"
						lien="/"
					/>
					<ProductCard
						title="Kit cylindre 2Fast"
						description="Grosse config"
						price="200"
						imageSrc="/src/assets/images/cylindre2fast.png"
						lien="/"
					/>
					<ProductCard
						title="Kit cylindre 2Fast"
						description="Grosse config"
						price="200"
						imageSrc="/src/assets/images/cylindre2fast.png"
						lien="/"
					/>
					<ProductCard
						title="Kit cylindre 2Fast"
						description="Grosse config"
						price="200"
						imageSrc="/src/assets/images/cylindre2fast.png"
						lien="/"
					/>
				</div>
			</div>
		</div>
		<div class="w-full flex justify-center py-8">
			<div class="w-11/12 lg:w-4/5 rounded-2xl bg-orange-600 flex gap-2 items-center py-4 justify-center lg:p-20 flex-col lg:flex-row">
				<Picture class="w-3/6" src={moi}></Picture>
				<p class="w-9/12 lg:w-2/3 flex text-white gap-3 mx-4"><Quote class="w-96"/>Moi c’est Lucas, motard de 22 ans, passionné de moto depuis tout petit. Cette passion s'est rapidement étendue à la mécanique. J'ai commencé par construire mes propres moteurs de 50cc, participant à des rassemblements informels qui se sont rapidement transformés en compétitions. J'ai eu l'opportunité de courir pour l'équipe WRP Racing dans plusieurs compétitions, notamment à Salbris et Bordeaux, où j'ai toujours obtenu d'excellents résultats. Au fil des ans, j'ai construit et préparé un grand nombre de moteurs, que ce soit pour moi-même ou pour des clients. J'ai réalisé de nombreuses préparations de configurations, certaines plus extravagantes que d'autres. Grâce à cela, j'ai acquis une solide connaissance et expérience dans le domaine.
					C'est cette expertise que j'ai décidé de partager en créant ce site. Mon objectif est d'aider les novices à comprendre plus facilement le monde de la moto, mais aussi de référencer des pièces parfois rares.</p>
			</div>
		</div>
	</main>
</MainLayout>
