---
import MainLayout from 'layouts/MainLayout.astro';
import { MoveUp } from 'lucide-astro';
import ProductCard from 'components/global/Cards.astro';
import { categories } from 'libs/configCompetition';
---

<MainLayout title="Trouve ta pièce | Compétition" class="overflow-x-hidden">
  <main class="pt-44">
    <div id="top" class="bg-white rounded-t-3xl w-11/12 flex justify-center mx-auto items-center flex-col mt-20 lg:mt-0">
      <div class="flex items-center gap-4 p-8 flex-col lg:flex-row">
        <img src="/images/bg.svg" class="w-full lg:w-[50rem] rounded-2xl">
        <p><strong>Optimisez votre performance sur le Circuit avec nos configurations moteur de Haute performance</strong><br>
			Explorez notre gamme de configuration moteur conçues spécialement pour les passionnés de course. Nous offrons une diversité de prix pour répondre à vos besoins, que vous soyez un novice ou un expert. Préparez-vous à dominer la piste comme jamais auparavant.
        </p>
      </div>
      <div class="gradient-config w-full h-2 rounded-b-3xl"></div>
    </div>

    <div class="relative items-center h-fit justify-center border-b-2 border-orange-600 flex mt-4 py-2 lg:py-0 w-64 md:w-11/12 lg:w-3/4 mx-auto flex-wrap md:flex-row">
		{categories.map(category => (
		  <a
			class="mx-2 my-6 text-lg gap-3 flex items-center rounded-3xl py-2 px-6 justify-center categorie text-orange-600"
			href={`#${category.id}`}
			data-category={category.id}
			rel="noopener noreferrer"
		  >
			{category.label} <p class="font-bold">CC</p>
		  </a>
		))}
	</div>

    {categories.map(category => (
		<div id={category.id} class="pt-14">
		   <div class="flex justify-center my-8 gap-4 flex-wrap mx-auto w-4/5">
			 {category.products.map(product => (
				<ProductCard
				   title={product.title}
				   logo={`/images/${product.logo}`}
				   description={product.description}
				   typeMotor={product.typeMotor}
				   typeMotor1={product.typeMotor1}
				   price={product.price}
				   imageSrc={`/images/${product.image}`}
				   alt={product.alt}
				   lien={`/product/config?configCompetition=${product.configKey}#item-1`}
				/>
			 ))}
		   </div>
		</div>
	 ))}

	<a id="fleche" class="bg-orange-500 z-30 fixed right-14 p-4 bottom-8 rounded-full w-16 h-16 m-0 items-center hidden" href="#top" rel="noopener noreferrer">
		<MoveUp class="h-10 w-10 text-white" />
	</a>
  </main>
</MainLayout>
<script src="/src/pages/js/category.js.ts"></script>
