---
const { title, description, imageSrc, lien, logo } = Astro.props;
import { Eye } from 'lucide-astro';
---
<a href={lien}>
	<div class="bg-white flex flex-col justify-center items-center w-80 lg:w-96 p-6 rounded-3xl shadow-lg card slide">
		<div class="flex justify-between items-center w-full">
			<p class="font-bold text-3xl w-3/4 lg:w-3/5">{title}</p>
			<img class="w-1/4" src={logo}>
		</div>
	<div class="w-full flex justify-between mt-2 items-center">
		<p class="text-gray-400">{description}</p>
	</div>
	<div class="cards rounded-full w-52 h-52 flex items-center justify-center mt-6">
		<img class="max-w-72 lg:max-w-60 -mt-6" alt="" src={imageSrc} />
	</div>
	<div class="flex justify-between items-center w-full mt-4">
		<Eye class="bg-amber-600 p-2 w-10 h-10 rounded-2xl text-white" />
	</div>
	</div>
</a>