---
import Picture from "astro/components/Picture.astro";
const { title, imageSrc, lien, entreprise, alt } = Astro.props;
---
<a href={lien} rel="noopener noreferrer">
	<div class="w-80 lg:w-96 shadow-lg lg:mt-16 rounded-3xl">
        <Picture
            src={imageSrc} alt={alt}
            class="object-cover w-80 lg:w-96 z-0 h-[29rem] rounded-3xl absolute"
            width="0"
            height="0"
        ></Picture>
        <div class="relative w-full flex justify-end flex-col z-10 rounded-3xl h-[29rem] card-prod-text">
            <p class="font-bold text-3xl text-white ml-4">{title}</p>
            <p class="text-gray-300 ml-4 mb-8">{entreprise}</p>
        </div>
    </div>
</a>
